#carousel-example-generic {
  display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.thumbnails-carousel .center {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 70px;
}
#product_slide .thumbnails-carousel li img{
	height: 48px;
	width: auto;

}
/*product slide*/
.carousel-control{
	position: absolute; */
  top: 0; 
  bottom: 0; 
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  font-size: 4vmax;
}
.glyphicon-chevron-right:after {
  content: ' \2771';
}
.glyphicon-chevron-left:after {
  content: ' \2770';
}
.glyphicon-chevron-right:hover, .glyphicon-chevron-left:hover{color: #e5ff0f}
/*end product slide*/

.product_content .tabs_class{
  display: block;
  margin: 1em 0 0 0;
  padding: 0;
  padding-bottom: 12px;
  line-height: 1em;
  border-bottom: 1px solid #ccc;
}
.product_content .tabs_class li{
  display: inline;
  cursor: pointer;
  background: #eee;
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin-right: 0.1em;
}