body{
  margin: 0;
  padding: 0;
  color: #000015;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
a{
	color: #000015;
}
a:hover{
  color: #dc5800;
  text-decoration: none;
}
h1, .h1{font-size: 2.6vmax}
h2, .h2{font-size: 2vmax}
h3, .h3{font-size: 1.7vmax}
h4, .h4{font-size: 1.4vmax}
h5, .h5{font-size: 1.1vmax}
h6, .h6{font-size: 0.8vmax}
.clearfix{
  display: block;
  content: "";
  clear: both;
}
.content_tabs{
  overflow: hidden;
}
.red{
  color: #f00;
}
.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.hidden{display:none!important;}
.line{
	clear: both;
	height: 1px;
	margin: 3px 0;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(222,0,0,1) 46%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(46%, rgba(219,219,219,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(222,0,0,1) 46%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(222,0,0) 46%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(222,0,0,1) 46%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(222,0,0,1) 46%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
/*main menu*/
#main-menu .nav-item .nav-link{
	text-transform: uppercase;
  padding: 2vmax;
}
#main-menu .nav-inline .nav-item+.nav-item, .nav-inline .nav-link+.nav-link{
	margin:0;
	padding: 0;
}
#main-menu .nav-item .active{
	color: #ff5959;
	font-weight: 500;
}
.navbar{border-bottom: 1vmin solid #f00;}
.navbar-brand {
  padding-top: 0;
  margin: 0;
}
.navbar-brand img{
	height: 40px;
	display: inline-block;
}
.navbar-brand-text{
	display: inline-block;
}
.navbar-nav .active h3{
	color: #f00!important;
	font-weight: bold;
}
.navbar-nav .nav-item h3{
	color: rgba(0,0,0,.9);
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  line-height: 22px;
  text-transform: uppercase;
}
.navbar-nav .nav-item h3:hover{
  color: #dc5800;
}
/*end main menu*/


.slider-btn {
	background-color:#fc7700;
	color: #FFF;
	-webkit-box-shadow: inset 0 0 0 2px #fc7700;
	box-shadow: inset 0 0 0 2px #fc7700;
	text-transform: uppercase;
	width: 190px;
	text-align: center;
	height: 55px;
	line-height:55px;
	padding: 0;
	font-size: 18px;
	font-weight:800;
	border: 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.slider-btn:hover {
	background-color:#43484E;
	-webkit-box-shadow: inset 0 0 0 2px #43484E;
	box-shadow: inset 0 0 0 2px #43484E;
	color:#fff
}
/*end header*/
/*tabs */
#respTabs{
  background: #fff;
  overflow: hidden;
  padding-bottom: 5px;
}
.resp-headings { display: none; }
/*.resp-contents { margin: 0.6em 0 0 0.5em; }*/
 @media (max-width: 480px) {
  .resp-tablist { display: none; }
  .resp-tabDrop {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 1.2em;
    margin: 1em 0 0 0;
  }
}
@media (min-width: 481px) {
.resp-tabDrop { display: none; }
.resp-tablist {
  display: block;
  margin: 1em 0 0 0;
  padding: 0;
  padding-bottom: 12px;
  line-height: 1em;
  border-bottom: 1px solid #ccc;
}
.resp-tablistItem {
  display: inline;
  cursor: pointer;
  background: #eee;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 0.1em;
}
.resp-tablistItem__active {
  background: #fff;
  border-bottom-color: #fff;
      color: red;
    font-weight: bold;
}
}
/*end tabs */

/* sidebar */
.sidebar{
  background: #f9f9f9
}
.sidebar aside{
	margin:3vmax 0;
}
.sidebar aside:first-child{
  margin-top:0;
}

.search_bds{
  padding:10px 7px;
  margin-bottom: 10px;
  background: rgba(255, 242, 204, 0.5);
}
.search_bds h4{
  text-align: center;
}
.search_bds{
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}
.popular-post{
  border:1px solid #9C9C9C;
}
.popular-post h4{
  padding:5px 10px;
  margin:0;
  background:#FFF0C0;
  border-bottom:1px solid #9C9C9C;
}
.popular-post ul{padding: 0}
.popular-post ul li{
  padding:5px 0 5px 8px;
  margin:0;
  list-style:none;
  border-bottom: 1px dotted #ccc;
  background: rgba(204, 204, 204, 0.13);
}
.popular-post ul li .fa{
  padding-right: 3px;
  color: #f00;
  font-weight: bold;
}
.popular-post ul li:last-child{border:none}
.service-contact{
  background: rgba(251, 255, 217, 0.8);
  padding: 1vmax;
  position: relative;
  position: relative;
  color: #f00;
}
.service-contact .detail{
  text-align: center;
  padding: 2vmax 0;
}
.service-contact .detail p{font-weight: bold}
.service-contact .fa-quote-left{position: absolute;}
.service-contact .fa-quote-right{
  position: absolute;
  bottom: 0;right: 10px;
}
/* sidebar end */

/*breadscrumb*/
.breadscrumbs{
  border: 1px solid #efefef;
  margin: 2vmin 0;
  padding: 0;
  width: 99%;
  display: block;
  overflow: hidden;
}
.breadscrumbs li {
  list-style: none;
  float: left;
}
.breadscrumbs li a{
  padding-left: .75em;
  display: block;
  padding: 10px 25px 10px 25px;
  background: url('../images/crumbs.gif')no-repeat right;
}
.breadscrumbs li:last-child a{
  background: none;
}
.breadscrumbs li h3{
  margin: 0;
  font-size: 1vmax;
}

/*end breadscrumb*/

/*content*/
.left_content, .sidebar{
	padding-top: 2vmax;
}
.left_content{

}
.left_content img{
  max-width:100%;
  margin: 1vmin auto;
  display: block;
}
/*end content*/

/*category*/
.category_header{
  position: relative;
}
.category_title{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  padding:8px 0;
  background: rgba(255,251,247,0.33);
  background: -moz-linear-gradient(left, rgba(255,251,247,0.33) 0%, rgba(255,153,0,0.33) 50%, rgba(255,231,201,0.32) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,251,247,0.33)), color-stop(50%, rgba(255,153,0,0.33)), color-stop(100%, rgba(255,231,201,0.32)));
  background: -webkit-linear-gradient(left, rgba(255,251,247,0.33) 0%, rgba(255,153,0,0.33) 50%, rgba(255,231,201,0.32) 100%);
  background: -o-linear-gradient(left, rgba(255,251,247,0.33) 0%, rgba(255,153,0,0.33) 50%, rgba(255,231,201,0.32) 100%);
  background: -ms-linear-gradient(left, rgba(255,251,247,0.33) 0%, rgba(255,153,0,0.33) 50%, rgba(255,231,201,0.32) 100%);
  background: linear-gradient(to right, rgba(255,251,247,0.33) 0%, rgba(255,153,0,0.33) 50%, rgba(255,231,201,0.32) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbf7', endColorstr='#ffe7c9', GradientType=1 );
}
.category_header .title h1{
	margin:0;
	padding: 0;
}
.product-item .item-img{
  height: 300px;
}
.product-item .item-img img{
  min-height: 300px;
}
.view {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.fifth-effect img {
  transition: all 0.3s ease-in;
}

.fifth-effect .mask {
  cursor: pointer;
  visibility: visible;
  border: 50px solid rgba(255, 253, 248, 0.7);
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.940, 0.850, 0.100, 0.620);
}

.fifth-effect:hover .mask {
  border:0px double rgba(0,0,0,0.7);
  opacity:0;
  visibility:hidden;
}

.fifth-effect:hover img {
  opacity:1;
}
/*and category*/

/*product*/
.product_content img{
  max-width: 100%!important;
  /*height: 100%!important; */
  max-height: 700px;
}
#overlay_popup{
	position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
.product-item{
  height: 350px;
  overflow: hidden;
  /*position: relative;*/
  text-align: center;
  margin: 2vmax 0;
}
.product-item .title{
  /*position: absolute;*/
  /*width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -20px;*/
  z-index: 10;
}
.product-item .title h2{
  font-size: 1.4vmax;
  text-transform: uppercase;
}
/*end product*/

/*about*/
.about h2{
	text-align: center;
}
/*end about*/

/*contact*/
.contact h2{
	font-size: 1.4vmax;
}
.contact h3{
	font-size: 1vmax;
}
/*end contact*/

/*footer*/
.footer1{
	border-top:1vmin solid #ff0000;
	background-image: -moz-linear-gradient(45deg, #666 25%, transparent 25%), -moz-linear-gradient(-45deg, #666 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #666 75%), -moz-linear-gradient(-45deg, transparent 75%, #666 75%);
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #666), color-stop(.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #666), color-stop(.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #666)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #666));
	background-image: -webkit-linear-gradient(45deg, #666 25%, transparent 25%), -webkit-linear-gradient(-45deg, #666 25%, transparent 25%), -webkit-linear-gradient(45deg, transparent 75%, #666 75%), -webkit-linear-gradient(-45deg, transparent 75%, #666 75%);
	background-image: -o-linear-gradient(45deg, #666 25%, transparent 25%), -o-linear-gradient(-45deg, #666 25%, transparent 25%), -o-linear-gradient(45deg, transparent 75%, #666 75%), -o-linear-gradient(-45deg, transparent 75%, #666 75%);
	background-image: linear-gradient(45deg, #d9d9d9 25%, transparent 25%), linear-gradient(-45deg, #c2c2c2 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #666 75%), linear-gradient(-45deg, transparent 75%, #666 75%);
	-moz-background-size: 2px 2px;
	background-size: 2px 2px;
	-webkit-background-size: 2px 2.1px;
	background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
	padding: 25px 0;
}
.footer1 .logo a{
	display: inline-block;
}
.footer1 .logo h4{
	display: inline-block;
}
.footer2{
	background-color: #f6f6f6;
	padding: 10px 0;
	color: #43484E;
	font-size: 16px;
	position: relative;
	margin-top: 1px;
}
.fb-page, .fb-page iframe[style], .fb-page span {
	width: 100% !important;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
	width: 100% !important;
}
/*end footer*/