/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){}

// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.navbar-brand{
		padding: 1vmax 0 0;
	}
	.navbar-brand img{
		height: 65px;
	}
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px){
	.service li{text-align: left}
	.service li .circle{
    float:left;
    margin-left: 0;
    margin-right: 1vmax;
    height: 20px;
    width: 20px;
	}
	.service li .circle .fa{
    font-size: 10px;
    width: 22px;
    line-height: 10px;
	}
	.product-item{height: 200px}
	.product-item .title h2{
	  font-size: 2vmax;
	}
	.product-item .item-img{
	  height: 180px;
	}
	.product-item .item-img img{
	  min-height: 150px;
	}
	.category_title{
    display: block;
    position: relative;
    color: #000015;
	}
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px){
	.service-contact{
		margin:1vmax 0;
	}
	.product-item{height: 250px}
	.product-item .title h2{
	  font-size: 2.2vmax;
	}
	.product-item .item-img{
	  height: 220px;
	}
	.product-item .item-img img{
	  min-height: 220px;
	}
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px){
	.carousel-inner>.carousel-item .link-slider{top:20%;}
	h3{font-size: 3vmax;}
	.product_content img{
	  max-width: 100%!important;
	  max-height: 100%!important; 
    width: 100%!important;
    height: 100%!important;
	}
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px){
	.navbar{
		padding:.5rem 0;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px){
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){
	#main-menu .nav-item .nav-link{
	  padding: 1vmax;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){}